<%= image_tag 'logo.gif', size: '272x48', alt: 'Morning Glory' %>

<% if current_member %>
<ul class="account-menu">
  <%# あとで位置を修正 %>
  <%= current_member.name + 'さん' %>
  <%= menu_link_to 'ログアウト', :session,
                                 data: { turbo_method: :delete,
                                         turbo_confirm: 'ログアウトしますか？'
                                 },
                                 class: 'btn btn-sm btn-secondary text-white d-inline ms-3'
  %>
</ul>
<% end %>

<nav class="menubar">
  <ul>
    <%= menu_link_to 'TOP', :root %>
    <%= menu_link_to 'ニュース', '#' %>
    <%= menu_link_to 'ブログ', '#' %>
    <%= menu_link_to '会員名簿', :members if current_member %>
    <%= menu_link_to '管理ページ', '#' if current_member %>
  </ul>
</nav>
