<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="container">
      <header>
        <%= render "shared/header" %>
      </header>
      <main>
        <% if flash.notice %>
          <p class="notice alert alert-primary" role="alert"><%= flash.notice %></p>
        <% end %>

        <%= yield %>
      </main>
      <aside id="sidebar">
        <%= render "shared/sidebar" %>
      </aside>
      <footer>
        <%= render "shared/footer" %>
      </footer>
  </body>
</html>
